openapi: 3.0.4
info:
  title: Sitemap Generator
  description: >-
    Sitemap Generator creates valid XML sitemaps from URL lists following the
    sitemaps.org protocol for search engine optimization.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/sitemapgenerator:
    post:
      summary: Generate Sitemap
      description: Generate an XML sitemap from URLs
      operationId: sitemapgenerator
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  sitemap: |-
                    <?xml version="1.0" encoding="UTF-8"?>
                    <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
                      <url>
                        <loc>https://example.com/</loc>
                        <lastmod>2025-12-16</lastmod>
                        <changefreq>weekly</changefreq>
                        <priority>0.5</priority>
                      </url>
                      <url>
                        <loc>https://example.com/about</loc>
                        <lastmod>2025-12-16</lastmod>
                        <changefreq>weekly</changefreq>
                        <priority>0.5</priority>
                      </url>
                      <url>
                        <loc>https://example.com/contact</loc>
                        <lastmod>2025-12-16</lastmod>
                        <changefreq>weekly</changefreq>
                        <priority>0.5</priority>
                      </url>
                      <url>
                        <loc>https://example.com/blog</loc>
                        <lastmod>2025-12-16</lastmod>
                        <changefreq>daily</changefreq>
                        <priority>0.8</priority>
                      </url>
                      <url>
                        <loc>https://example.com/products</loc>
                        <lastmod>2025-12-16</lastmod>
                        <changefreq>weekly</changefreq>
                        <priority>0.9</priority>
                      </url>
                    </urlset>
                  urlCount: 5
                  sizeBytes: 892
                  sizeKb: 0.87
                  format: XML
                  protocol: sitemaps.org/0.9
                  settings:
                    defaultChangeFreq: weekly
                    defaultPriority: 0.5
                    includeLastMod: true
                    baseUrl: https://example.com
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                urls:
                  type: string
                  description: >-
                    Array of URLs (strings or objects with url, priority,
                    changeFreq, lastMod)
                baseUrl:
                  type: string
                  description: Base URL to prepend to relative paths
                changeFreq:
                  type: string
                  description: Default change frequency
                priority:
                  type: number
                  description: Default priority
                includeLastMod:
                  type: boolean
                  description: Include lastmod dates in sitemap
              required:
                - urls
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  urls:
    - /
    - /about
    - /contact
    - url: /blog
      priority: 0.8
      changeFreq: daily
    - url: /products
      priority: 0.9
  baseUrl: https://example.com
  changeFreq: weekly
  priority: 0.5
  includeLastMod: true
